<a href="https://colab.research.google.com/github/T-Vikas/AI/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("CGB_-_Consumer_Complaints_Data.csv")

In [5]:
data

,Ticket ID,Ticket Created,Date Created,Date of Issue,Time of Issue,Form,Method,Issue,Caller ID Number,Type of Call or Messge,Advertiser Business Number,City,State,Zip,Location (Center point of the Zip Code),Type of Property Goods or Services
0,4923410,07/26/2021 09:59:38 PM,07/26/2021,NaN,NaN,TV,Cable,Billing,None,NaN,None,Wenhan,MA,01984,"MA 01984\n(42.59996, -70.881083)",None
1,4947156,08/06/2021 07:56:45 PM,08/06/2021,NaN,NaN,Phone,Wireless (cell phone/other mobile device),Number Portability (keeping your number if you...,None,NaN,None,Highland ranch,CO,80130,"CO 80130\n(39.538985, -104.922934)",None
2,4957510,08/12/2021 05:38:25 PM,08/12/2021,08/12/2021,1:17 p.m.,Phone,Wired,Unwanted Calls,203-760-1637,Prerecorded Voice,203-760-1637,Prospect,CT,06712,"CT 06712\n(41.502221, -72.977336)",unknown_services
3,5396122,04/02/2022 04:01:34 PM,04/02/2022,03/25/2022,6:53 pm,Phone,Wired,Unwanted Calls,641-244-8902,Prerecorded Voice,None,Reston,VA,20194,"VA 20194\n(38.97896, -77.346119)",Health Insurance Services
4,4917724,07/23/2021 02:50:59 AM,07/23/2021,NaN,NaN,Phone,Wireless (cell phone/other mobile device),Billing,None,NaN,None,Fort Lauderdale,FL,33301,"FL 33301\n(26.121518, -80.130442)",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197853,5195547,12/16/2021 05:49:23 PM,12/16/2021,NaN,NaN,Internet,Cable,Billing,None,NaN,None,Minneapolis,MN,55404,"MN 55404\n(44.962455, -93.2611)",None
197854,5194884,12/16/2021 12:02:38 PM,12/16/2021,NaN,NaN,Phone,Internet (VOIP),Availability (including rural call completion),None,NaN,None,Greenfield,MA,01301,"MA 01301\n(42.611414, -72.600213)",None
197855,5342730,03/09/2022 04:45:14 PM,03/09/2022,NaN,NaN,Internet,Cable,Billing,None,NaN,None,Bryan,TX,77802,"TX 77802\n(30.657957, -96.331093)",None
197856,5335621,03/04/2022 11:06:58 PM,03/04/2022,03/04/2022,9:17 am,Phone,Wired,Unwanted Calls,307-976-1184,Prerecorded Voice,None,Casper,WY,82609,"WY 82609\n(42.837706, -106.251461)",None
197857,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: total number of rows (197858) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (197858) exceeds max_rows (20000). Limiting to first (20000) rows.

In [8]:
data

,Ticket ID,Ticket Created,Date Created,Date of Issue,Time of Issue,Form,Method,Issue,Caller ID Number,Type of Call or Messge,Advertiser Business Number,City,State,Zip,Location (Center point of the Zip Code),Type of Property Goods or Services
0,4923410,07/26/2021 09:59:38 PM,07/26/2021,NaN,NaN,TV,Cable,Billing,None,NaN,None,Wenhan,MA,01984,"MA 01984\n(42.59996, -70.881083)",None
1,4947156,08/06/2021 07:56:45 PM,08/06/2021,NaN,NaN,Phone,Wireless (cell phone/other mobile device),Number Portability (keeping your number if you...,None,NaN,None,Highland ranch,CO,80130,"CO 80130\n(39.538985, -104.922934)",None
2,4957510,08/12/2021 05:38:25 PM,08/12/2021,08/12/2021,1:17 p.m.,Phone,Wired,Unwanted Calls,203-760-1637,Prerecorded Voice,203-760-1637,Prospect,CT,06712,"CT 06712\n(41.502221, -72.977336)",unknown_services
3,5396122,04/02/2022 04:01:34 PM,04/02/2022,03/25/2022,6:53 pm,Phone,Wired,Unwanted Calls,641-244-8902,Prerecorded Voice,None,Reston,VA,20194,"VA 20194\n(38.97896, -77.346119)",Health Insurance Services
4,4917724,07/23/2021 02:50:59 AM,07/23/2021,NaN,NaN,Phone,Wireless (cell phone/other mobile device),Billing,None,NaN,None,Fort Lauderdale,FL,33301,"FL 33301\n(26.121518, -80.130442)",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197853,5195547,12/16/2021 05:49:23 PM,12/16/2021,NaN,NaN,Internet,Cable,Billing,None,NaN,None,Minneapolis,MN,55404,"MN 55404\n(44.962455, -93.2611)",None
197854,5194884,12/16/2021 12:02:38 PM,12/16/2021,NaN,NaN,Phone,Internet (VOIP),Availability (including rural call completion),None,NaN,None,Greenfield,MA,01301,"MA 01301\n(42.611414, -72.600213)",None
197855,5342730,03/09/2022 04:45:14 PM,03/09/2022,NaN,NaN,Internet,Cable,Billing,None,NaN,None,Bryan,TX,77802,"TX 77802\n(30.657957, -96.331093)",None
197856,5335621,03/04/2022 11:06:58 PM,03/04/2022,03/04/2022,9:17 am,Phone,Wired,Unwanted Calls,307-976-1184,Prerecorded Voice,None,Casper,WY,82609,"WY 82609\n(42.837706, -106.251461)",None
197857,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: total number of rows (197858) exceeds max_rows (20000). Limiting to first (20000) rows.

In [9]:
data.columns

Index(['Ticket ID', 'Ticket Created', 'Date Created', 'Date of Issue',
       'Time of Issue', 'Form', 'Method', 'Issue', 'Caller ID Number',
       'Type of Call or Messge', 'Advertiser Business Number', 'City', 'State',
       'Zip', 'Location (Center point of the Zip Code)',
       'Type of Property Goods or Services'],
      dtype='object')

In [33]:
data_tv=data[data.Form == "TV"]

In [34]:
data_tv

,Ticket ID,Ticket Created,Date Created,Date of Issue,Time of Issue,Form,Method,Issue,Caller ID Number,Type of Call or Messge,Advertiser Business Number,City,State,Zip,Location (Center point of the Zip Code),Type of Property Goods or Services
0,4923410,07/26/2021 09:59:38 PM,07/26/2021,NaN,NaN,TV,Cable,Billing,None,NaN,None,Wenhan,MA,01984,"MA 01984\n(42.59996, -70.881083)",None
17,5396394,04/02/2022 07:17:51 PM,04/02/2022,04/02/2022,1:00 a.m.,TV,Broadcast,Indecency,None,NaN,None,Klamath falls,OR,97601,"OR 97601\n(42.268895, -121.907762)",None
21,5396605,04/02/2022 09:46:38 PM,04/02/2022,NaN,NaN,TV,Satellite,Availability,None,NaN,None,Navasota,TX,77868,"TX 77868\n(30.372826, -96.050177)",None
23,5396944,04/03/2022 02:51:35 AM,04/03/2022,03/27/2022,8:00 pm,TV,Broadcast,Indecency,None,NaN,None,Thousand oaks,CA,91320,"CA 91320\n(34.163619, -118.95474)",None
28,5206147,12/23/2021 10:48:41 AM,12/23/2021,NaN,NaN,TV,Broadcast,Availability,None,NaN,None,Fort myers,FL,33905,"FL 33905\n(26.672329, -81.766777)",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197784,5465750,05/08/2022 05:39:05 AM,05/08/2022,NaN,NaN,TV,Broadcast,Billing,None,NaN,None,Hesperia,CA,92345,"CA 92345\n(34.415572, -117.306687)",None
197798,5495879,05/24/2022 07:29:00 AM,05/24/2022,05/22/2022,6:00 pm,TV,NaN,Loud Commercials,None,NaN,None,Desert hot springs,CA,92240,"CA 92240\n(33.945824, -116.526768)",None
197827,5195708,12/16/2021 06:37:12 PM,12/16/2021,NaN,NaN,TV,Fiber,Billing,None,NaN,None,Coconut creek,FL,33073,"FL 33073\n(26.300371, -80.184772)",None
197847,5194890,12/16/2021 12:25:03 PM,12/16/2021,NaN,NaN,TV,Broadcast,Availability,None,NaN,None,Berlin,NJ,08009,"NJ 08009\n(39.771478, -74.932314)",None
197849,5465723,05/08/2022 04:04:08 AM,05/08/2022,NaN,NaN,TV,Broadcast,Availability,None,NaN,None,Oklahoma city,OK,73112,"OK 73112\n(35.518064, -97.572741)",None

In [39]:
data_tv.dropna(inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [42]:
data["Type of Property Goods or Services"].unique()

array(['None', 'unknown_services', 'Health Insurance Services',
       'Prizes Won Something Services', 'Student Loans Services',
       'Home Improvement Services', 'Amazon Services', 'Unknown Services',
       'other_services', 'Other Services', 'Auto Warranty Services',
       'Credit Card Interest Rates Services', 'Solar Panels Services',
       'Medical Devices Services', 'auto_warranty_services',
       'solar_panels_services', 'Computer Tech Support Services',
       'medicare_medicaid_services', 'Mortgage Loans Services',
       'Pay Day Loans Services', 'Political Services',
       'Prescription Medicines Services', 'Medicare Medicaid Services',
       'Credit Card Debt Services', 'Google Listings Services',
       'Legal Actions Services', 'amazon_services',
       'mortgage_loans_services', 'Home Security Alarms Services',
       'Irs Services', 'credit_card_interest_rates_services',
       'home_improvement_services', 'Computer Virus Services', nan,
       'Computer Other Services', 'Vacations Services',
       'health_insurance_services', 'student_loans_services',
       'google_listings_services', 'prescription_medicines_services',
       'prizes_won_something_services', 'vacations_services',
       'legal_actions_services', 'medical_devices_services',
       'Social Security Services', 'credit_card_debt_services',
       'Criminal Charges Services', 'irs_services', 'political_services',
       'criminal_charges_services', 'computer_other_services',
       'computer_tech_support_services', 'pay_day_loans_services',
       'social_security_services', 'computer_virus_services',
       'home_security_alarms_services'], dtype=object)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197858 entries, 0 to 197857
Data columns (total 16 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Ticket ID                                197858 non-null  int64
 1   Ticket Created                           197857 non-null  object
 2   Date Created                             197857 non-null  object
 3   Date of Issue                            105504 non-null  object
 4   Time of Issue                            96877 non-null   object
 5   Form                                     197857 non-null  object
 6   Method                                   188207 non-null  object
 7   Issue                                    196501 non-null  object
 8   Caller ID Number                         197806 non-null  object
 9   Type of Call or Messge                   72076 non-null   object
 10  Advertiser Business Number               197806 non-null  object
 11  City                                     196400 non-null  object
 12  State                                    197291 non-null  object
 13  Zip                                      197852 non-null  object
 14  Location (Center point of the Zip Code)  197249 non-null  object
 15  Type of Property Goods or Services       196615 non-null  object
dtypes: int64(1), object(15)
memory usage: 24.2+ MB